<h1 style="color:green;">Students challange</h1>

{% if not user.is_authenticated %}
    <p>You are not authenticated yet.</p>
    Please, <a href="{% url 'login' %}">login</a>.
    {% block registration %}
    
    {% endblock registration %}
    
{% else %}
<div>
    <p>{{ user.first_name }} {{ user.last_name }}</p>
    <a href="{% url 'groups' %}">group list</a> |
    <a href="{% url 'password_change' %}">password change</a> |
    <a href="{% url 'logout' %}">logout</a> |
</div>
    <hr>
    <h2>{{ title }}</h2> 

    {% block content %}
    
    {% endblock content %}
{% endif %}
