<html>
<meta content="text/html"> 
<h1 style="color:green;">Students challange</h1>

{% load student_extras %}

{% if not user.is_authenticated %}
    <p>You are not authenticated yet.</p>
    Please, <a href="{% url 'login' %}">login</a>.
    {% block registration %}
    
    {% endblock registration %}
    
{% else %}
<div>
    <p>{{ user.first_name }} {{ user.last_name }}</p>
    <a href="{% url 'groups' %}">group list</a> |
    <a href="{% url 'password_change' %}">password change</a> |
    <a href="{% url 'logout' %}">logout</a> |
</div>
    <hr>
    <h2>{{ title }}</h2> 

    {% block content %}
    
    {% endblock content %}
<hr>
<p>
    request time: {{ dd }}|
    sql queries count: {{ sql_count }}|
    settings: {{ settings }}|
</p>
<p>
    go to admin for current user: <a href="{{ user|admin_url }}">user</a>
</p>
<a href="{% edit user %}">{% edit user %}</a>
{% endif %}
</html>
