{% extends "students/base.html" %}
{% block content %}
{% load student_extras %}
    <a href="{% url 'group_delete' pk=group.pk %}">delete group</a>
    {% for st in group.students.all %}
        <p>
            {{ st.full_name }} |
            <a href="{% url 'student_delete' pk=st.pk %}">delete</a> | 
            <a href="{% url 'student_update' pk=st.pk %}">update</a>
        </p>
    {% empty %}
        <p>No any students in this group</p>
    {% endfor %}
    <a href="{% url 'student_create' %}">add student</a> | 
    <a href="{{ group|admin_url }}">group in admin</a>
{% endblock content %}
